
  p{
    font-size:30px;
    color:darkred;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 25px;
    
}

/*n{
  background-image: url(./assets/images/n.jpg);
}*/